<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->


<div class="site-navbar-wrap js-site-navbar bg-white">

    <div class="container">
        <div class="site-navbar bg-light">
            <div class="py-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <h2 class="mb-0 site-logo"><a href="@Url.Action("Index", "Jobfinder")">Job<strong class="font-weight-bold">Finder</strong> </a></h2>
                    </div>
                    <div class="col-10">
                        <nav class="site-navigation text-right" role="navigation">
                            <div class="container">
                                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li><a href="@Url.Action("Categories", "Jobfinder")">For Candidates</a></li>
                                    <li class="has-children">
                                        <a href="#">For Employees</a>
                                        <ul class="dropdown arrow-top">
                                            <li><a href="@Url.Action("Categories", "Jobfinder")">Category</a></li>
                                            <li><a href="#">Browse Candidates</a></li>
                                            <li><a href="@Url.Action("NewPost", "Jobfinder")">Post a Job</a></li>
                                            <li><a href="#">Employeer Profile</a></li>
                                            <li class="has-children">
                                                <a href="#">More Links</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Browse Candidates</a></li>
                                                    <li><a href="#">Post a Job</a></li>
                                                    <li><a href="#">Employeer Profile</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Contact", "Jobfinder")">Contact</a></li>
                                    <li><a href="@Url.Action("NewPost", "Jobfinder")"><span class="bg-primary text-white py-3 px-4 rounded"><span class="icon-plus mr-3"></span>Post New Job</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>