<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Adventure2")">Adventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="@Url.Action("Index", "Adventure2")" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="@Url.Action("About", "Adventure2")" class="nav-link">About</a></li>
                <li class="nav-item"><a href="@Url.Action("Places", "Adventure2")" class="nav-link">Places</a></li>
                <li class="nav-item"><a href="@Url.Action("Hotel", "Adventure2")" class="nav-link">Hotels</a></li>
                <li class="nav-item"><a href="@Url.Action("Blog", "Adventure2")" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="@Url.Action("Contact", "Adventure2")" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->