<header class="header-area main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="@Url.Action("Index","Comport")"><img src="~/template/comport/assets/images/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a href="@Url.Action("Index","Comport")">home</a></li>
                        <li><a href="@Url.Action("About","Comport")">about us</a></li>
                        <li>
                            <a href="#">blog</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("BlogHome","Comport")">Blog Home</a></li>
                                <li><a href="@Url.Action("BlogDetail","Comport")">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Contact","Comport")">contact</a></li>
                        <li>
                            <a href="#">pages</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("JobSearch","Comport")">Job Search</a></li>
                                <li><a href="@Url.Action("JobSingle","Comport")">Job Single</a></li>
                                <li><a href="@Url.Action("PricingPlan","Comport")">Pricing Plan</a></li>
                                <li><a href="@Url.Action("Elements","Comport")">Elements</a></li>
                            </ul>
                        </li>
                        <li class="menu-btn">
                            <a href="#" class="login">log in</a>
                            <a href="#" class="template-btn">sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>